body {
    background-color: #EAF6F6;
  }

  
  h1{
    width:70%;
    margin:25% auto 0 auto;
    font-family: 'sans-serif';
    font-size: 2rem;
    color: #66BFBF;
    line-height: 1;
    
}  